html,
body {
  position: relative;
  font: 14px/24px 'Microsoft YaHei';
  color: #666;
  background-color: #fff;
}
i,
em {
  font-style: normal;
}
a {
  color: #39a030;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
.f-clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.f-clearfix {
  zoom: 1;
}
.f-mt80 {
  margin-top: 80px;
}
.f-pt80 {
  padding-top: 80px;
}
.f-pb120 {
  padding-bottom: 120px;
}
.f-toe {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.f-bg {
  background-color: #f8f8f8;
}
.g-container {
  width: 1206px;
  margin-left: auto;
  margin-right: auto;
}
.g-main {
  float: left;
  width: 966px;
}
.g-side {
  float: right;
  width: 220px;
}
.u-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  line-height: 1;
  vertical-align: middle;
  background: url(../img/sprite.png) center no-repeat;
}
.u-icon-close {
  background-position: -10px -155px;
}
.u-icon-add {
  background-position: -10px -137px;
}
.u-icon-people {
  background-position: -10px -201px;
}
.u-icon-weibo {
  width: 20px;
  height: 16px;
  background-position: -10px -175px;
}
.m-tipsBar {
  height: 36px;
  line-height: 36px;
  background-color: #f3f3f3;
  color: #333;
}
.m-tipsBar .close {
  float: right;
  cursor: pointer;
  color: #666;
}
.m-tipsBar .close:hover {
  color: #333;
}
.m-header {
  padding: 30px 0;
}
.m-header h1 {
  float: left;
  width: 266px;
  height: 22px;
  margin-top: 4px;
  background: url(../img/sprite.png) -10px -10px no-repeat;
}
.m-header h1 a {
  display: block;
  text-indent: -9999px;
}
.m-header .follow {
  float: left;
  margin-top: 3px;
  font-size: 12px;
}
.m-header .follow .add {
  display: inline-block;
  margin-right: 14px;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  background-color: #39a030;
}
.m-header .follow .add:hover {
  text-decoration: none;
  background-color: #328c2a;
}
.m-header .follow .cancel {
  display: none;
  margin-right: 14px;
  padding: 0 6px;
  height: 18px;
  line-height: 18px;
  border: 1px solid #efefef;
  border-radius: 3px;
  background-color: #f8f8f8;
}
.m-header .follow .cancel em {
  display: none;
}
.m-header .follow .cancel i {
  padding: 0 4px;
}
.m-header .follow .cancel a {
  color: #999;
}
.m-header .follow .cancel a:hover {
  color: #39a030;
}
.m-header .follow .cancel:hover {
  background-color: #fff;
}
.m-header .follow .cancel:hover em {
  display: inline;
}
.m-header .nav {
  float: right;
}
.m-header .nav li {
  float: left;
  margin: 0 27px;
  line-height: 30px;
  font-size: 16px;
}
.m-header .nav a {
  color: #666;
}
.m-header .nav a:hover {
  text-decoration: none;
  color: #39a030;
}
.m-header .search {
  float: right;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 15px;
  background: url(../img/sprite.png) -10px -73px no-repeat;
  cursor: pointer;
}
.m-header .search:hover {
  background-position: -10px -103px;
}
.m-banner {
  position: relative;
  height: 460px;
}
.m-banner ul,
.m-banner li {
  position: absolute;
  width: 100%;
  height: 100%;
}
.m-banner li {
  opacity: 0;
}
.m-banner li a {
  display: block;
  width: 100%;
  height: 100%;
}
.m-banner .item {
  background: center top no-repeat;
  background-size: cover;
  transition: 500ms;
}
.m-banner .item.cur {
  opacity: 1;
}
.m-banner .nav {
  position: absolute;
  z-index: 999;
  bottom: 20px;
  width: 100%;
  height: 10px;
  line-height: 10px;
  text-align: center;
}
.m-banner .nav span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.m-banner .nav span.cur {
  background-color: #333;
}
.m-productInfo {
  padding: 62px 0;
}
.m-productInfo li {
  float: left;
  width: 402px;
}
.m-productInfo .pic {
  float: left;
  width: 105px;
}
.m-productInfo .text {
  overflow: hidden;
  width: 240px;
}
.m-productInfo .text h2 {
  font-size: 22px;
  color: #333;
}
.m-productInfo .text p {
  margin: 15px 0 30px 0;
}
.m-workPlace {
  overflow: hidden;
  height: 220px;
}
.m-workPlace ul {
  overflow: hidden;
  width: 200%;
  height: 220px;
  text-align: center;
}
.m-workPlace li {
  float: left;
  margin-right: 4px;
}
.m-workPlace li img {
  display: block;
  width: 320px;
  height: 220px;
}
.m-productList .tabs {
  overflow: hidden;
  width: 400px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.m-productList .tabs li {
  float: left;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #666;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.m-productList .tabs li.cur {
  background-color: #39a030;
  color: #fff;
}
.m-productList .list {
  margin-top: 30px;
}
.m-productList .list ul {
  margin-left: -20px;
  margin-top: -20px;
}
.m-productList .list .item {
  float: left;
  width: 223px;
  height: 226px;
  border: 1px solid #fff;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  font-size: 12px;
}
.m-productList .list .item:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.m-productList .list .item:hover .title a {
  color: #39a030;
}
.m-productList .list .item .text {
  padding: 4px;
}
.m-productList .list .item .title a {
  display: inline;
  color: #333;
}
.m-productList .list .item .title a:hover {
  text-decoration: none;
  color: #39a030;
}
.m-productList .list .item .tag {
  color: #999;
}
.m-productList .list .item .people {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  padding: 0 4px;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  color: #999;
}
.m-productList .list .item .price {
  color: #ff3f00;
  font-weight: bold;
}
.m-productList .list .item a {
  display: block;
}
.m-productList .list .item a img {
  display: block;
}
.m-productList .list .item .detail {
  display: none;
  position: absolute;
  z-index: 2;
  left: -10px;
  top: -10px;
  width: 480px;
  height: 238px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
.m-productList .list .item .detail .bd {
  height: 135px;
  padding: 10px;
}
.m-productList .list .item .detail .bd img {
  float: left;
  margin-right: 20px;
}
.m-productList .list .item .detail .bd h3 {
  margin-bottom: 15px;
  font-size: 18px;
}
.m-productList .list .item .detail .bd h3 a {
  color: #333;
}
.m-productList .list .item .detail .bd h3 a:hover {
  color: #39a030;
}
.m-productList .list .item .detail .bd p {
  font-size: 12px;
  color: #666;
}
.m-productList .list .item .detail .text {
  overflow: hidden;
  height: 43px;
  padding: 20px;
  background-color: #f8f8f8;
  color: #666;
  font-size: 14px;
}
.m-productList .list .item .detail .text div {
  height: 43px;
  overflow: hidden;
}
.m-productList .page {
  margin-top: 30px;
  text-align: right;
}
.m-productList .page li {
  margin: 0 4px;
  display: inline-block;
}
.m-productList .page li.cur a {
  color: #39a030;
}
.m-productList .page li.cur a:hover {
  background: none;
  cursor: default;
}
.m-productList .page span {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.m-productList .page a {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #666;
}
.m-productList .page a:hover {
  background-color: #9dd8b1;
  color: #fff;
}
.m-productList .page .pre a,
.m-productList .page .next a {
  display: block;
  width: 30px;
  height: 20px;
  background: #9dd8b1 url(../img/sprite.png) no-repeat;
}
.m-productList .page .pre a {
  background-position: 0 -217px;
}
.m-productList .page .next a {
  background-position: 0 -237px;
}
.m-box {
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.m-box .hd {
  padding-left: 20px;
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #ddd;
}
.m-box .hd h2 {
  font-size: 16px;
  color: #333;
}
.m-box .bd {
  padding: 20px;
}
.m-institution .bd img {
  cursor: pointer;
}
.m-hotRanking .cnt {
  position: relative;
  height: 680px;
  overflow: hidden;
}
.m-hotRanking ul {
  position: absolute;
  top: -700px;
  width: 180px;
  margin-top: -20px;
  transition: 1s;
}
.m-hotRanking li {
  margin-top: 20px;
  overflow: hidden;
}
.m-hotRanking li img {
  float: left;
  margin-right: 12px;
}
.m-hotRanking li h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.m-hotRanking li h3 a {
  font-size: 14px;
  color: #333;
}
.m-hotRanking li h3 a:hover {
  color: #39a030;
}
.m-hotRanking li span {
  color: #999;
  font-size: 12px;
}
.m-footer {
  padding: 80px 0;
  background-color: #2c3339;
  color: rgba(255, 255, 255, 0.6);
}
.m-footer a {
  color: rgba(255, 255, 255, 0.6);
}
.m-footer .info {
  float: left;
  font-size: 12px;
}
.m-footer .info .logo {
  width: 266px;
  height: 22px;
  margin-bottom: 30px;
  background: url(../img/sprite.png) -10px -42px no-repeat;
}
.m-footer .link {
  float: right;
}
.m-footer .link dl {
  float: left;
  width: 200px;
}
.m-footer .link dl dt {
  margin-bottom: 10px;
}
.m-footer .link dl dd {
  margin-bottom: 10px;
}
.m-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.m-modal .bd {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 390px;
  height: 290px;
  margin-left: -195px;
  margin-top: -145px;
  padding: 30px;
  background-color: #fff;
}
.m-modal .close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.m-modal-login .title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}
.m-modal-login form p {
  margin-bottom: 15px;
}
.m-modal-login form input {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  border: 1px solid #dfdfdf;
  box-shadow: inset 1px 1px 4px 0 #f1f1f1;
  outline: none;
  font-size: 16px;
  color: #333;
}
.m-modal-login form input[type='button'] {
  box-shadow: none;
  color: #fff;
  background: linear-gradient(#31b658, #159631);
  cursor: pointer;
}
.m-modal-video .bd {
  width: 890px;
  height: 560px;
  margin-left: -445px;
  margin-top: -280px;
}
.m-modal-video p {
  margin-bottom: 10px;
}
.m-modal-video video {
  width: 100%;
  height: 466px;
}
body.modal {
  overflow: hidden;
  padding-right: 17px;
  z-index: 1;
}
/* 窗口宽度<1205,设计宽度=960 */
@media screen and (max-width: 1204px) {
  .g-container {
    width: 960px;
  }
  .g-main {
    width: 724px;
  }
  .g-side {
    width: 225px;
  }
  .m-productInfo li {
    width: 320px;
  }
  .m-productInfo .text {
    width: 175px;
  }
  .m-productList .list ul {
    margin-top: -18px;
    margin-left: -18px;
  }
  .m-productList .list .item {
    width: 224px;
    margin-left: 18px;
    margin-top: 18px;
  }
  .m-productList .list .item a img {
    width: 226px;
  }
  .m-productList .list .item .detail {
    width: 470px;
    top: 0;
    left: 0;
  }
  .m-productList .list .item .detail .bd img {
    width: 226px;
  }
  .m-footer .link dl {
    width: 180px;
  }
}
